:root {
	--font-main: 'Roboto', sans-serif;
	--color-white: rgba(255, 255, 255, 1);
	--color-font-light: rgba(0, 0, 0, 0.54);
	--color-font-dark: rgba(0, 0, 0, 0.87);
	--color-sign-in: rgb(66, 133, 244);
}

* {
	box-sizing: border-box;
}

html {
	font-family: var(--font-main);
	font-size: 0.8em;
	font-weight: 400;
	color: var(--color-font-dark);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: var(--color-white);
	width: 100%;
	min-width: 450px;
	min-height: 100vh;
}

header {
	width: 100%;
}

.navbar {
	/* To align right */
	margin-left: auto;
	margin-right: 0;
	margin-top: 1em;
	width: 270px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-ul {
	display: inline-block;
	list-style-type: none;
}

.nav-li {
	display: inline-block;
	line-height: 2em;
	margin: 0em 0.5em;
}

.nav-li a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.nav-li a:hover {
	text-decoration: underline;
}

.menu-icon {
	cursor: pointer;
	background-image: url(http://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
	background-position: -134px -40px;
	opacity: 30px;
	width: 30px;
	height: 25px;
	margin: 0em 0.5em;
	vertical-align: middle;
}

.sign-in {
	vertical-align: middle;
	margin: 0em 0.5em;
	background-color: var(--color-sign-in);
	border-radius: 0.2em;
	;
}

.sign-in a {
	color: var(--color-white);
	font-weight: 700;
	line-height: 2.2em;
	text-decoration: none;
	padding: 0 0.9em;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img-container {
}

.google-logo {
	height: 92px;
	width: auto;
}

.search-form {
	margin-top: 20px;
}

.form-input {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	justify-content: center;
	width: 450px;
	height: 45px;
	border: 1px solid rgb(223, 225, 229);
	border-radius: 2em;
	;
}

.mag-glass {
	font-size: 1.2em;
	color: rgb(154, 160, 166);
	margin: 0 1em;
}

#search-input {
	flex-grow: 1;
	border: none;
	color: var(--color-font-dark);
	font-size: 1.3em;
	;
}

#search-input:focus {
	outline: none;
}

.form-input:hover, .form-input:focus {
	box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
	border-color: rgba(223, 225, 229, 0);
}

#clear-input {
	font-size: 1.2em;
	color: rgb(154, 160, 166);
	margin: 0 1em;
}

.visible {
	visibility: visible;
	cursor: pointer;
}

.hidden {
	visibility: hidden;
	cursor: default;
}

.form-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.submit-button {
	margin: 0 0.8em;
	padding: 0.8em 1em;
	border: 1px solid rgb(242, 242, 242);
	border-radius: 0.3em;
	font-size: 1.1em;
	color: rgb(95, 99, 104);
	background-color: rgb(242, 242, 242);
}

.submit-button:hover {
	border: 1px solid #c6c6c6;
}

footer {
	width: 100%;
	min-width: 450px;
	margin-top: 10px;
	border-top: 1px solid rgb(228, 228, 228);
	background-color: rgb(242, 242, 242);
}

.country {
	font-size: 1.1em;
	color: var(--color-font-light);
	margin: 1em 30px;
}

.foot-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid rgb(228, 228, 228);
}

.links-left {
	margin: 1em 0;
}

.links-right {
	margin: 1em 0;
	margin-right: 30px;
}

.foot-lk {
	font-size: 1.1em;
	color: rgb(95, 99, 104);
	text-decoration: none;
	margin-left: 30px;
}

.foot-lk:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 768px) {
	.foot-links {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.links-left {
		margin: 1em 0;
		margin-right: 30px;
	}
}

@media only screen and (max-height: 540px) {
	.google-logo {
		height: 70px;
		width: auto;
	}
}